/* Import the Montserrat and Fira Code fonts. */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Define global variables. */
:root {
    /* Define the global color palette. */
    --accent-color: #2ac3de;
    --accent-color-alt: #ff0050;
    --text-color: #f8f8f2;
    --section-color-dark: #00000080;
    --background-color: #1a1b26;

    /* Define the global spacing. */
    --common-spacing: 10%;
}

/* Define global tag and class styles. */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-alt);
}

button, .button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0.5rem;
    color: var(--text-color);
    border-radius: 10px;
    border: none;
    background-color: #363b54;
}

button, .button:hover {
    color: var(--text-color);
    background-color: #737aa2;
    cursor: pointer;
}

button.active, .button.active {
    color: var(--text-color);
    background-color: #737aa2;
}

button.disabled, .button.disabled, button.disabled:hover, .button.disabled:hover {
    color: #363b54;
    background-color: #16161e;
}

.container {
    padding: 2rem var(--common-spacing);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #363b54;
}

.chart-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.text-container {
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
    background-color: #363b54;
}

nav ul {
    padding-inline-start: 0;
    background-color: #16161e;
}

nav ul li {
    display: block;
    text-align: center;
    padding: 1rem 0;
}

nav ul li a {
    text-transform: uppercase;
}

nav ul li a.active {
    color:var(--accent-color-alt);
}

nav ul li a:hover {
    color: var(--accent-color-alt);
}

#nav-menu {
    display: none;
    order: 2;
    flex-basis: 100%;
}

#nav-menu.active {
    display: block;
}

#nav-toggle {
    order: 1;
}

i.fas {
    font-size: 1.5rem;
}

#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #16161e;
}

/* Desktop menu */
@media all and (min-width: 700px) {
    #nav-logo {
        order: 0;
    }

    #nav-menu {
        display: block;
        flex-basis: auto;
        order: 1;
    }

    #nav-toggle {
        display: none;
    }

    #header {
        flex-wrap: nowrap;
    }

    nav ul li {
        display: inline-block;
        padding: 0 1rem;
    }

    .chart-container {
        display: flex;
        justify-content: center;
        width: calc(50% - 2rem);
    }
}

#nav-logo {
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    height: auto;
}

#footer {
    font-size: 14px;
    text-align: center;
}

#page-title, #page-views, #page-options {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

/* Tables */
.table-container {
    overflow: scroll;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #363b54;
  }
  
table {
    width: 100%;
}

table, th, td {
    text-align: left;
    border-collapse: collapse;
}

tr:nth-child(odd) { 
    background: #515c7e40;
}

tr:nth-child(even) { 
    background: #1111174a;
}

tr:hover { 
    background: #515c7e60;
    cursor: pointer;
}

th {
    background-color: #363b54;
}

th, td {
    padding: 10px;
}
  
th button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    font: inherit;
    height: 100%;
    margin: 0;
    padding: 0 0.5rem 0 0;
    min-width: max-content;
    position: relative;
    text-align: left;
    width: 100%;
}
  
th button::after {
    position: absolute;
    padding-left: 0.5rem;
}
  
th button[data-dir="asc"]::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='0, 0 8,0 4,8 8' fill='%23ffffff'/%3E%3C/svg%3E");
}
  
th button[data-dir="desc"]::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='4 0,8 8,0 8' fill='%23ffffff'/%3E%3C/svg%3E");
}