/* Import the Montserrat and Fira Code fonts. */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Define global variables. */
:root {
    /* Define the global color palette. */
    --accent-color: #2ac3de;
    --accent-color-alt: #ff0050;
    --text-color: #f8f8f2;
    --section-color-dark: #00000080;
    --background-color: #1a1b26;

    /* Define the global spacing. */
    --common-spacing: 10%;
}

/* Enable smooth scrolling.*/
html {
	scroll-behavior: smooth;
}

/* Define global tag and class styles. */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-alt);
}

table {
    width: 100%;
    border-radius: 10px;
}

table, th, td {
    text-align: left;
    border-collapse: collapse;
}

tr:nth-child(odd) { 
    background: #515c7e40;
}

tr:nth-child(even) { 
    background: #1111174a;
}

tr:hover { 
    background: #515c7e60;
    cursor: pointer;
}

th {
    background-color: #363b54;
}

th, td {
    padding: 10px;
}

button, .button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    color: var(--text-color) !important;
    border-radius: 10px;
    background-color: #363b54;
}

button:hover, .button:hover {
    color: var(--text-color);
    background-color: #737aa2;
    cursor: pointer;
}

.highlight {
    color: var(--text-color);
    background-color: #737aa2;
}

code {
    line-height: 0px;
    font-family: 'Fira Code', monospace;
}

.container {
    padding: 2rem var(--common-spacing);
}

.cardtainer {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100px;
    max-height: 300px;
    padding: 2rem;
    border-radius: 10px;
    background-color: #363b54;
}

.wrapper {
    padding: 2rem 0;
}

nav ul {
    padding-inline-start: 0;
    background-color: #16161e;
}

nav ul li {
    display: block;
    text-align: center;
    padding: 1rem 0;
}

nav ul li a {
    text-transform: uppercase;
}

nav ul li a.active {
    color:var(--accent-color-alt);
}

nav ul li a:hover {
    color: var(--accent-color-alt);
}

#nav-menu {
    display: none;
    order: 2;
    flex-basis: 100%;
}

#nav-menu.active {
    display: block;
}

#nav-toggle {
    order: 1;
}

#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #16161e;
}

/* Desktop menu */
@media all and (min-width: 700px) {
    #nav-logo {
        order: 0;
    }

    #nav-menu {
        display: block;
        flex-basis: auto;
        order: 1;
    }

    #nav-toggle {
        display: none;
    }

    #header {
        flex-wrap: nowrap;
    }

    nav ul li {
        display: inline-block;
        padding: 0 1rem;
    }
}

#nav-logo {
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    height: auto;
}

#footer {
    font-size: 14px;
    text-align: center;
}

#page-title, #page-views {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

/* Disable motion if preferred in supported browsers. */
@media (prefers-reduced-motion) {
	html {
		scroll-behavior: auto;
	}
}